<div id="vr_button"></div>

<!--WEBXR CONTENT-->
<script type="module" src="assets/webxr/webxr_basic.js"></script>
<link rel="stylesheet" href="assets/css/XRstyle.css">

<!--SOCKET SCRIPTS-->
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="assets/sockets/socketPeer.js"></script>