<div style="text-align: center;">
  <div>Share Code: <span id="share_code"></span></div>
  <br>
  <br>
  <input id='upload' type='file' accept='image/*'>
  <br>
  <br>
  <image id="vr_source" src="" alt="current_scene"></image>
</div>

<div id="vr_button"></div>

<!--WEBXR CONTENT-->
<script type="module" src="assets/webxr/webxr_basic.js"></script>
<link rel="stylesheet" href="assets/css/XRstyle.css">

<!--GUIDE SCRIPT-->
<script src="assets/js/guide.js"></script>

<!--SOCKET SCRIPTS-->
<script src="/socket.io/socket.io.js"></script>
<script src="assets/js/socketManagement.js"></script>